@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* shared style */
.bg-color {
  background-color: #fff8f3;
}

.btn {
  background-color: rgba(255, 144, 14, 1);
  color: rgba(255, 255, 255, 1);
  max-width: 180px;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 40px;
  border: none;
}

.display-flex {
  display: flex;
}

.description {
  color: var(--Dark 03, rgba(114, 114, 114, 1));
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

main section {
  margin-top: 70px;
}

/* nav section */
li {
  list-style: none;
  padding: 20px;
}

ul {
  max-width: 100%;
  height: auto;
  color: var(--Dark 02, rgba(66, 66, 66, 1));
  font-weight: 500;
  line-height: 26px;
}

.navbar h1 {
  max-width: 100%;
  height: auto;
  font-size: 3rem;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  justify-content: space-between;
}

/* header section */
.design {
  max-width: 1040px;
  margin: 0px auto;
}

.banner-description {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}

.header h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.header img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 30px;
}

/* about section */
.our-features {
  align-items: center;
  gap: 50px;
}

.team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 100%;
}

.second-btn {
  text-align: left;
}
/* feature section */

/* some facts */

/* footer section */

/* media query */
@media screen and (max-width: 576px) {
  .display-flex {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
  }
  .team-image {
    display: grid;
    grid-template-columns: 1fr;
  }
}
